* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 100%;
  min-width: 320px; }

/* START DEMO CSS - IGNORE */
header {
  padding: 1rem; }
  header h1 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 42px;
    font-weight: 300;
    text-align: left;
    color: #ff6700; }

.hack-menu {
  position: fixed;
  right: 5px;
  padding: 2px;
  background-color: #eee;
  z-index: 100; }
  .hack-menu li {
    display: block;
    padding: 3px; }

/* END DEMO CSS - IGNORE */
/* hero-base */
.RiverbedBannerContainer {
  font-family: 'Source Sans Pro', sans-serif !important;
  overflow: hidden;
  position: relative; }
  .RiverbedBannerContainer .RiverbedBannerImage a {
    display: flex; }
    .RiverbedBannerContainer .RiverbedBannerImage a img {
      width: 100%;
      align-self: flex-start; }
  .RiverbedBannerContainer .RiverbedDataOverlay {
    position: absolute;
    background-color: #595959;
    padding: 0 15px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s ease-in-out; }
    .RiverbedBannerContainer .RiverbedDataOverlay > a {
      text-decoration: none; }
    .RiverbedBannerContainer .RiverbedDataOverlay .BannerDept {
      font-size: 9px;
      font-weight: 600;
      color: #ff6700;
      text-transform: uppercase;
      padding-right: 0.5rem; }
    .RiverbedBannerContainer .RiverbedDataOverlay .BannerDate {
      font-size: 9px;
      font-weight: 600;
      color: #9c9c9c; }
    .RiverbedBannerContainer .RiverbedDataOverlay .BannerTitle {
      font-size: 15px;
      color: #e3e3e7;
      line-height: 1.1;
      padding-bottom: 5px; }
    .RiverbedBannerContainer .RiverbedDataOverlay .Rvbd-description {
      font-size: 11px;
      text-align: left;
      color: #e3e3e7;
      line-height: 1.2;
      margin-bottom: 11px;
      height: 0;
      position: relative;
      bottom: -11px; }
  .RiverbedBannerContainer:hover .RiverbedDataOverlay .Rvbd-description {
    height: auto;
    bottom: 0; }

.RiverbedBannerNav {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 7px; }
  .RiverbedBannerNav .token {
    display: inline-block;
    width: 1.75rem;
    height: 0.2rem;
    margin: 0.75rem 0.2rem;
    background-color: #a6b0a5; }
  .RiverbedBannerNav .token.active {
    background-color: #455363; }

/* DEMO ONLY - IGNORE */
.mini-hero-row .mini-hero-container:last-child {
  display: none; }

/* mini-hero-base */
.mini-hero {
  margin-bottom: 32px; }
  .mini-hero .RiverbedBannerContainer .RiverbedDataOverlay {
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    background-blend-mode: multiply;
    padding-top: 5px; }
    .mini-hero .RiverbedBannerContainer .RiverbedDataOverlay .BannerTitle {
      color: #fff;
      font-weight: 400;
      font-size: 12px; }
    .mini-hero .RiverbedBannerContainer .RiverbedDataOverlay .BannerDate {
      color: #a6b0a5;
      font-weight: 400;
      font-size: 10px; }
    .mini-hero .RiverbedBannerContainer .RiverbedDataOverlay .BannerDate {
      padding-bottom: 5px; }

/* lightbox base */
#lightbox.lightbox {
  font-family: 'Source Sans Pro', sans-serif !important;
  display: flex;
  flex-direction: column-reverse; }
  #lightbox.lightbox .lb-dataContainer {
    background-color: #3a4550; }
    #lightbox.lightbox .lb-dataContainer .lb-data .lb-details {
      padding: 3px 0 0 10px; }
    #lightbox.lightbox .lb-dataContainer .lb-data .lb-caption {
      font-size: 16px; }
    #lightbox.lightbox .lb-dataContainer .lb-data .lb-close {
      background: none;
      position: relative; }
      #lightbox.lightbox .lb-dataContainer .lb-data .lb-close:before {
        position: absolute;
        top: 12px;
        bottom: 0;
        left: 0;
        right: 0;
        content: "X";
        /* use the hex value here... */
        font-size: 17px;
        color: #FFF;
        line-height: inherit;
        text-align: center;
        font-family: Arial, Helvetica; }
  #lightbox.lightbox .lb-image {
    border-radius: 0;
    border: 0; }

/* tabmenu base */
.tabmenu.tabs {
  font-family: 'Source Sans Pro', sans-serif !important;
  display: none; }

.tabmenu.select {
  font-family: 'Source Sans Pro', sans-serif !important;
  position: relative; }
  .tabmenu.select select {
    border: solid 2px #d8d8d8;
    color: #ff6700;
    background-color: transparent;
    font-size: 22px;
    font-weight: 600;
    padding: 2px 10px;
    width: 100%;
    outline: none;
    margin-bottom: 20px; }
    .tabmenu.select select option {
      color: #9c9c9c; }

/* newsbox small */
.newsList {
  font-family: 'Source Sans Pro', sans-serif !important;
  list-style-type: none;
  padding-bottom: 15px;
  width: 100%; }
  .newsList .deptHeader {
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    background-color: #1d1d1e;
    padding: 6px 7px; }
  .newsList .deptSubHeader {
    font-size: 20px;
    font-weight: 600;
    color: #4b4b4b;
    background-color: #e0e4e7;
    padding: 7px 7px; }
  .newsList .newsItem {
    background-color: #f3f5f7;
    padding: 15px 18px;
    border-bottom: 2px solid #d8dde0; }
    .newsList .newsItem:last-child {
      border-bottom: 0; }
    .newsList .newsItem .newsLink {
      display: flex;
      text-decoration: none; }
    .newsList .newsItem .newsItemImgContainer {
      flex: 1; }
      .newsList .newsItem .newsItemImgContainer .newsItemImg {
        max-width: 100%; }
    .newsList .newsItem .newsItemText {
      flex: 3;
      padding-left: 15px;
      color: #455363; }
      .newsList .newsItem .newsItemText .newsTitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        padding-bottom: 4px; }
      .newsList .newsItem .newsItemText .newsDescription {
        font-size: 16px; }
      .newsList .newsItem .newsItemText .newsDate {
        font-size: 13px;
        color: #737d89; }

/* pressrelease base */
.demoonly-pr-large {
  display: none; }

.pressRelease {
  font-family: 'Source Sans Pro', sans-serif !important;
  margin-bottom: 20px; }
  .pressRelease .titleBar {
    display: flex;
    align-items: baseline; }
    .pressRelease .titleBar .titleText {
      font-size: 28px;
      letter-spacing: 0.1px;
      text-align: left;
      color: #455363;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .pressRelease .titleBar .titleText, .pressRelease .titleBar .viewAllTitle {
      flex: 1; }
    .pressRelease .titleBar .viewAllTitle {
      text-align: right; }
  .pressRelease .pressItem {
    display: flex;
    margin-bottom: 10px; }
    .pressRelease .pressItem .itemDate {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 400;
      color: white;
      text-align: center;
      display: inline-block;
      flex: 1;
      min-width: 50px;
      max-width: 50px;
      min-height: 50px;
      max-height: 50px;
      background-color: #64b3e4;
      padding: 6px;
      border-radius: 4px;
      margin-top: 4px; }
    .pressRelease .pressItem .itemText {
      font-size: 16px;
      margin-left: 15px;
      line-height: 1.44;
      letter-spacing: -0.3px;
      color: #455363; }
  .pressRelease a.viewAll {
    font-size: 16px;
    font-weight: 600;
    color: #64b3e4; }
  .pressRelease button.viewAll {
    border-radius: 100px;
    background-color: #d8d8d8;
    font-size: 20px;
    text-align: center;
    color: #455363;
    padding: 5px 25px;
    border: 0;
    text-transform: uppercase; }

/* allnews small */
.allNewsSlug {
  display: none; }

.allNews .rvbd-breadcrumb {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #455363; }
  .allNews .rvbd-breadcrumb a {
    color: inherit; }

.allNews .rvbd-h1 {
  font-family: 'Source Sans Pro', sans-serif !important;
  text-transform: uppercase;
  margin-bottom: 18px; }

.allNews .newsList {
  font-family: 'Source Sans Pro', sans-serif !important; }
  .allNews .newsList .newsItem {
    background-color: initial;
    padding-left: 0;
    border-bottom: 0; }
    .allNews .newsList .newsItem .newsItemImgContainer {
      max-width: 100px; }
    .allNews .newsList .newsItem .newsTitle {
      font-size: 20px;
      font-weight: 600; }
    .allNews .newsList .newsItem .allNewsSlug {
      display: block; }
      .allNews .newsList .newsItem .allNewsSlug .allNewsDept {
        color: #ff6700;
        font-size: 16px;
        text-transform: uppercase;
        padding-right: 7px; }
      .allNews .newsList .newsItem .allNewsSlug .allNewsDate {
        color: #79828e;
        font-size: 16px; }
    .allNews .newsList .newsItem .newsDate {
      display: none; }

@media only screen and (min-width: 500px) {
  /* hero small */
  .RiverbedBannerContainer .RiverbedDataOverlay {
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    background-blend-mode: multiply; }
  .newsList {
    width: 50%; } }

@media only screen and (min-width: 768px) {
  /* DEMO ONLY - IGNORE */
  .mini-hero-row .mini-hero-container:last-child {
    display: block; }
  /* mini-hero medium */
  .mini-hero .RiverbedBannerContainer .RiverbedDataOverlay .BannerTitle {
    font-size: 16px; }
  .mini-hero .RiverbedBannerContainer .RiverbedDataOverlay .BannerDate {
    font-size: 12px; }
  /* tabmenu medium */
  .tabmenu.select {
    display: none; }
  .tabmenu.tabs {
    display: block; }
    .tabmenu.tabs ul {
      border-bottom: 3px solid #d8d8d8;
      margin-bottom: 30px;
      padding-bottom: 5px; }
      .tabmenu.tabs ul li {
        display: inline-block;
        color: #9c9c9c;
        font-weight: 600;
        font-size: 22px;
        padding: 0 20px; }
        .tabmenu.tabs ul li.active {
          color: #ff6700;
          border-bottom: 3px solid #ff6700;
          padding-bottom: 5px;
          margin-bottom: -8px; } }

@media only screen and (min-width: 992px) {
  /* hero large */
  .RiverbedBannerContainer .RiverbedDataOverlay > a .BannerTitle {
    font-size: 32px;
    line-height: 1.25; }
  .RiverbedBannerContainer .RiverbedDataOverlay > a .Rvbd-description {
    font-size: 19px; }
  .RiverbedBannerContainer .RiverbedDataOverlay > a .BannerDept {
    font-size: 16px; }
  .RiverbedBannerContainer .RiverbedDataOverlay > a .BannerDate {
    font-size: 16px; }
  /* pressrelease large */
  .demoonly-pr-base {
    display: none; }
  .demoonly-pr-large {
    flex: 1;
    display: inline-block; }
  .pressRelease .titleBar .titleText {
    flex: 3; }
  .pressRelease button.viewAll {
    display: none; }
  .newsList {
    width: 33.3%; } }
